@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  background-color: black;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 10px 15px;
}
#rock {
  width: 20px;
}

#obc {
  width: 100px;
}

span#burguer {
  color: white;
}
span#burguer:hover {
  cursor: pointer;
  color: #f63f45;
}
menu#botoes {
  display: none;
}

menu#botoes > div#container {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  
  width: 100vw;
}

div#container > a{
  color: white;
  text-decoration: none;
  width: 70px;
  padding: 5px;
  text-align: center;
  background-color: rgb(0, 0, 0);
  border: 1px solid #711d20;
}

div#container > a:hover{
  background-color: rgb(39, 39, 39);
  color: #f63f45;
}

main{
  width: 90vw;
  margin: auto;
}
main > h1{
  margin: 15px 10px;
}
main > p{
  text-align: justify;
  line-height: 1.4em;
}
